@import "tailwindcss";

@theme {
  --color-green-dark: #003C12;
  --color-green-light: #82B892;
  
  --color-weather-nice: #5DC786;
  --color-weather-gloomy: #F6FC82;
  --color-weather-severe: #FF5C3B;
  
  --color-safety-dark: #860012;

  /* login & signup */
  --color-input: #D9D9D94A;

}

@layer utilities {
  .font-montaga {
    font-family: var(--font-montaga), serif;
  }

  .font-slab {
    font-family: var(--font-montagu-slab), serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}
